.app-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #444;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header nav ul li {
  margin-right: 20px;
}

.header nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.header nav a:hover {
  color: #ccc;
}

main {
  padding: 20px;
  background-image: linear-gradient(to bottom, #1a1a1a, #333);
}

body {
  background-image: linear-gradient(to bottom, #333, #444);
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #444;
}

.footer p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #ccc;
}

.mining-stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.mining-stats-container iframe {
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Articles */
.article-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.article-title-box {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.article-title-box h1 {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.article-content-box {
  padding: 20px;
  background-image: linear-gradient(to bottom, #1a1a1a, #333);
}

.article-content-box p {
  margin-bottom: 20px;
  color: #fff;
}

.article-content-box strong {
  font-weight: bold;
  color: #ccc;
}
